@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }

  .card-img{
    width: 100%;
    height: 60%;
    border: 1px black solid;
  }
  
  .card img {
    width: 100%;
    height: 100%;
  }
  
  .card-price {
    font-size: 1.5em;
    color: #333;
     width: 100%;
     height: 20%;
    text-align: center;
  }

  .boton-votar{
    width: 100%;
    height: 20%;
  }
  
  .card-button {
    background-color: #cdd2d7;
    color: #fff;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }